# Workspace
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=rolling

# Dependencies
auto-install-peers=true
strict-peer-dependencies=false

# Performance
side-effects-cache=true

# Node.js
node-version-file=.node-version

